#wrap {
  width: 100%;
  min-width: 100%;
}

#header {
  position: relative;
  top: -1080px;
  width: 100%;
  z-index: 1;
}

#header .inner {
  background-color: transparent;
  width: 1800px;
  margin: auto;
  position: relative;
  box-sizing: border-box;
}

#header .inner .util-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#header .util-wrap .inner {
  height: 40px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  align-items: center;
}

#header .util-wrap.active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#header .util-wrap.active,
#header .nav .gnb.active,
.util-wrap .list li::after {
  color: #333;
}

#header .util-wrap.active p,
#header .util-wrap.active a,
#header .nav .gnb.active > li > a {
  color: #333 !important;
}

#header .util-wrap p {
  position: relative;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

#header .util-wrap p span {
  margin-right: 15px;
}

#header .util-wrap .list {
  display: flex;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#header .util-wrap .list .minus img {
  position: absolute;
  right: 320px;
  cursor: pointer;
}

#header .util-wrap .list .plus img {
  position: absolute;
  right: 280px;
  cursor: pointer;
}

#header .util-wrap .list li {
  position: relative;
  padding-right: 40px;
}

#header .util-wrap .list li:last-child {
  padding-right: 0;
}

#header .util-wrap .list li .dot {
  position: absolute;
  display: inline-block;
  right: 15px;
  top: 50%;
  width: 4px;
  height: 4px;
  background: rgb(255, 255, 255);
}

#header .util-wrap .list li .dot.active {
  background: #333;
}

#header .util-wrap .list li:last-child::after {
  display: none;
}

#header .util-wrap .list li a {
  font-size: 14px;
  color: rgb(255, 255, 255);
}

#header h1 {
  z-index: 10;
  position: absolute;
  top: 80px;
  left: 0;
  transform: translateY(-50%);
}

#header .nav {
  position: relative;
  height: 100%;
}

#header .nav .gnb {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 80px;
  left: 0;
}

#header .nav .gnb > li > a {
  position: relative;
  display: block;
  font-size: 20px;
  font-weight: 600;
  height: 80px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  color: #fff;
  z-index: 10;
}

#header .nav .gnb > li > a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgb(299, 25, 55);
  transition: all 0.3s ease-in-out 0s;
  transform: scaleX(0);
}

#header .nav .gnb > li > a:hover {
  color: rgb(299, 25, 55);
}

#header .nav .gnb > li > a:hover::after {
  transform: scaleX(1);
}

#header .nav .gnb .depth02-wrap {
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 40px;
  transition: all 0.3s ease;
}

#header .nav .gnb > li:hover .depth02-wrap {
  display: block;
  width: 100%;
  opacity: 1;
  visibility: visible;
  z-index: 5;
  transition: 0.3s linear;
  background: rgba(255, 255, 255, 1);
  position: fixed;
  left: 0;
  top: 0;
  padding: 150px 0 60px;
}

#header .nav .gnb .depth02-wrap .depth02-title {
  position: absolute;
  left: 140px;
  top: 45px;
  padding-top: 120px;
}

#header .nav .gnb .depth02-wrap .depth02-title h2 {
  font-size: 34px;
  color: #060606;
  font-weight: 400;
}

#header .nav .gnb .depth02-wrap .depth02-list {
  align-items: stretch;
  width: 1440px;
  flex-wrap: wrap;
  display: flex;
  padding-left: 440px;
}

#header .nav .gnb .depth02-wrap .depth02-list > li {
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 40px;
}

#header .nav .gnb .depth02-wrap .depth02-list > li > a {
  font-size: 22px;
  color: #060606;
  font-weight: 500;
}

#header .nav .gnb .depth02-wrap .depth02-list .depth02-item .depth03 li {
  padding-top: 6px;
}

#header .nav .gnb .depth02-wrap .depth02-list .depth02-item .depth03 li a {
  color: #333;
  font-size: 18px;
}

#header
  .nav
  .gnb
  .depth02-wrap
  .depth02-list
  .depth02-item
  .depth03
  li
  a:hover {
  color: #e51937;
}

#header.btn-icon {
  position: relative;
}

#header .btn-icon .search img {
  z-index: 10;
  display: flex;
  position: absolute;
  top: 80px;
  right: 40px;
  transform: translateY(-50%);
  cursor: pointer;
}

#header .btn-icon .menu img {
  z-index: 10;
  display: flex;
  position: absolute;
  top: 80px;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

#subVisual {
  position: relative;
  width: 100%;
  height: 1080px;
}

.subBanner li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 460px;
  background-image: url(../img/history.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#subVisual h2 {
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: -0.5px;
  color: #ffffff;
}

#subVisual .menu {
  position: relative;
  z-index: 10;
  position: absolute;
  top: 360px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1600px;
  height: 80px;
  background: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
}

#subVisual .menu .btn_left {
  text-align: center;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  cursor: pointer;
}

#subVisual .menu .btn_left::after {
  content: "";
  position: absolute;
  left: 90px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.3);
}

#subVisual .menu .comp {
  position: relative;
  margin-left: 120px;
  width: 190px;
  padding: 25px;
  cursor: pointer;
}

#subVisual .menu .history {
  width: 190px;
  padding: 25px;
  cursor: pointer;
}

#subVisual .menu .comp img {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

#subVisual .menu .history img {
  position: absolute;
  left: 540px;
  top: 50%;
  transform: translateY(-50%);
}

#subVisual .menu li:hover .submenu {
  display: block;
}

#subVisual .menu .comp:hover,
#subVisual .menu .history:hover {
  background: rgba(255, 255, 255, 0.15);
  z-index: 0;
}

#subVisual .menu .comp .submenu {
  margin-left: 120px;
  display: none;
  position: absolute;
  top: 80px;
  left: -120px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 240px;
  z-index: 100;
}

#subVisual .menu .history .submenu {
  margin-left: 120px;
  display: none;
  position: absolute;
  top: 80px;
  left: 240px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 240px;
  z-index: 100;
}

#subVisual .submenu a {
  margin-left: 25px;
  display: block;
  padding: 12px 20px;
  font-size: 18px;
  color: #333;
}

#subVisual .submenu a:hover {
  color: #e51937;
}

#subVisual .menu li strong {
  padding-left: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  z-index: 1;
}

#subVisual .menu .comp::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.3);
}

#subVisual .menu .history::after {
  content: "";
  position: absolute;
  left: 600px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.3);
}

#subVisual .btn_right {
  position: relative;
  display: flex;
  gap: 40px;
}

#subVisual .btn_right button {
  width: 120px;
}

#subVisual .btn_right .print,
#subVisual .btn_right .share {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  cursor: pointer;
}

#subVisual .btn_right .print {
  left: 760px;
}

#subVisual .btn_right .share {
  left: 880px;
}

#subVisual .btn_right .print::before,
#subVisual .btn_right .share::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.3);
}

.hisWrap {
  position: relative;
  background: #fff;
  padding: 80px 0;
  margin: auto;
  height: 960px;
}

.hisWrap .inner {
  position: absolute;
  top: -500px;
  margin-left: 156px;
  width: 1600px;
  text-align: center;
}

.hisWrap .hisWrap-summary p {
  font-size: 20px;
  color: #333;
  font-weight: 500;
  line-height: 2;
  margin-bottom: 80px;
}

.hisWrap .hisWrap-years {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dotted #ccc;
  padding-bottom: 20px;
  margin-bottom: 60px;
  position: relative;
}

.hisWrap .hisWrap-years li {
  position: relative;
}

.hisWrap .hisWrap-years button {
  font-size: 20px;
  font-weight: 500;
  color: #666;
  background: none;
  border: none;
  cursor: pointer;
}

.hisWrap .hisWrap-years li::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #b6b6b6;
  position: absolute;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
}

.hisWrap .hisWrap-years li.active button {
  color: #e51937;
  font-weight: 600;
}

.hisWrap .hisWrap-years li.active::before {
  background: #e51937;
}

.hisWrap .all-hisWrap-btn {
  position: relative;
}

.hisWrap .all-hisWrap-btn button {
  position: absolute;
  top: 150px;
  right: 106px;
  width: 200px;
  height: 60px;
  border: 2px solid #e51937;
  color: #e51937;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 30px;
  background: none;
  z-index: 10;
  cursor: pointer;
}

.hisWrap .all-hisWrap-btn button:hover {
  background: #e51937;
  color: #ffffff;
}

.hisWrap .all-hisWrap-btn button strong {
  font-size: 20px;
}

.hisWrap .all-hisWrap-btn img {
  margin: 4px 0 0 10px;
}

.hisWrap .hisWrap-box {
  position: relative;
  width: 1600px;
}

.hisWrap .hisWrap-title {
  text-align: left;
  margin-top: 120px;
}

.hisWrap .hisWrap-title strong {
  font-size: 60px;
  color: #e2e2e2;
  font-weight: 600;
  line-height: 1.2;
}

.hisWrap .hisWrap-title strong span {
  font-size: 40px;
  font-weight: 500;
}

.hisWrap .hisWrap-box .hisWrap-title .hisWrap-dotBox {
  position: absolute;
  right: 0;
  top: 240px;
}

.hisWrap .hisWrap-detail {
  position: relative;
  text-align: left;
  margin-top: 80px;
}

.hisWrap .hisWrap-detail .year-block {
  display: none;
}

.hisWrap .hisWrap-detail .year-block.active {
  display: block;
}

.hisWrap .hisWrap-detail .year-block ul {
  padding-left: 20px;
}

.hisWrap .hisWrap-detail .year-block li {
  margin-bottom: 28px;
}

.hisWrap .hisWrap-detail .year-block strong {
  font-size: 24px;
  color: #333;
  font-weight: 500;
}

.hisWrap .hisWrap-detail .year-block strong:hover {
  color: #e51937;
}

.hisWrap .hisWrap-detail .year-block p {
  font-size: 18px;
  color: #666;
  margin-top: 5px;
}

.hisWrap .hisWrap-detail .year-block .year-badge {
  position: absolute;
  right: 146px;
  top: 128px;
  font-size: 50px;
  color: #e51937;
  font-weight: 600;
  text-align: center;
  line-height: 1;
}

#footer {
  border-top: 1px solid #e2e2e2;
}

#footer .inner {
  padding-top: 90px;
  width: 1600px;
  margin: auto;
  height: 222px;
}

#footer .inner .logo {
  display: flex;
}

#footer .inner .logo ul {
  display: flex;
}

#footer .inner .logo img {
  margin-right: 40px;
}

#footer .inner .logo ul li {
  margin-right: 40px;
  padding-top: 12px;
}

#footer .inner .logo ul li a {
  font-size: 16px;
  color: #444444;
}

#footer .inner .logo ul li span {
  font-size: 18px;
  color: #ca2c52;
  font-weight: 500;
  text-decoration: underline;
}

#footer .family {
  position: relative;
}

#footer .family img {
  position: absolute;
  display: block;
  right: 0;
  top: -60px;
}

#footer .family ul {
  display: none;
}

#footer .addr {
  margin-top: 24px;
}

#footer .addr ul li span {
  font-weight: 600;
  margin-right: 10px;
}

#footer .addr ul li {
  font-size: 16px;
  color: #555555;
}

#footer .web {
  position: relative;
}

#footer .web ul {
  position: absolute;
  right: 0;
  top: 50%;
}

#footer .web img {
  position: absolute;
  display: block;
  right: 0;
  top: -60px;
}

.top {
  position: fixed;
  right: 50px;
  bottom: 60px;
  display: none;
}

.top.on {
  display: block;
}
